////
// Description: Empty state for simple pages
// Author: Diego Ghersi (diego@ghersi.com.ar)
//

.empty-state {
    border-radius: 3px;
    margin-top: 49px;
    padding: 30px 30px 30px 80px;
    background-color: #fff;

    h1 {
        font-size: 24px;
        font-weight: 400;
    }

    ul {
        margin: 0;
        padding-left: 15px;
    }

    li {
        font-size: 14px;
        padding: 3px 0;
    }
}

.empty-state-block {
    background-color: #e0e0e0;
    display: inline-block;
    border-radius: 3px;
}

.empty-state--limage {
    height: 180px;
    width: 180px;
    margin-right: 16px;
    float: left;
}

.empty-state--breadcrumb {
    width: 45%;
    height: 16px;
}

.empty-state--lprice {
    width: 250px;
    height: 28px;
}

.empty-state--ltitle {
    width: 50%;
    height: 21px;
}

.empty-state--location {
    width: 120px;
    height: 12px;
}

.empty-state--item-info {
    width: 40%;
    height: 30px;
}

.empty-state-ititle {
    width: 60%;
    height: 64px;
}

.empty-state--iprice {
    width: 55%;
    height: 54px;
}

.empty-state--iimage {
    width: 600px;
    height: 600px;
}

.empty-state--description-al2,
.empty-state--description-al,
.empty-state--description {
    width: 236px;
    height: 20px;
    margin: 0 5px 5px 0;
}

.empty-state--description-al {
    width: 158px;
}

.empty-state--description-al2 {
    width: 120px;
}

.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #ececec;
    }
    100% {
        background-color: #e0e0e0;
    }
}
