// Description: Empty state
// Author: Diego Ghersi (diego@ghersi.com.ar)

.empty-state {
  border-radius: 3px;
  margin-top: 49px;
  padding: 30px 30px 30px 80px;
  background-color: #fff;

  h1 {
    font-size: 24px;
    font-weight: 400;
  }

  ul {
    margin: 0;
    padding-left: 15px;
  }

  li {
    font-size: 14px;
    padding: 3px 0;
  }
}
