// Description: Header
// Author: Diego Ghersi (diego@ghersi.com.ar)

.nav-header {
  width: 100%;
  height: 55px;
  background-color: $brand;
  display: table-row;
}

.nav-header-ontop {
  position: fixed;
  z-index: 900;
}

.logo {
  background-image: url(/public/images/logo_ml.png);
  @include high-res-img("/public/images/logo_ml@2x.png", 53px, 36px);
  background-repeat: no-repeat;
  height: 36px;
  top: 10px;
  width: 53px;
  position: absolute;
  left: 0;
  overflow: hidden;
  text-indent: -999px;
}

.wrap-header {
  padding: 0 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-container {
  position: relative;
  padding: 0 0 0 80px;
}

