// Description: Item detail
// Author: Diego Ghersi (diego@ghersi.com.ar)

.item-details-container,
.item-top-data {
  display: flex;
}

.item-details-container {
  flex: 1 100%;
  flex-flow: row wrap
}

.item-details-container > * {
  flex: 1 100%;
}

.item-image {
  img {
    border-radius: 4px 0 0 0;
    max-width: 100%;
    height: auto;
  }
}

.item-short-desc {
  flex: 1;
  padding: 32px;
  line-height: 1;
}

.item-info {
  font-size: 14px;
  padding-bottom: 16px;
}

.item-title {
 h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
 }
}

.item-price {
  font-size: 46px;
  padding: 32px 0;
  line-height: 1;
  white-space: nowrap;
}

.item-pri-action {
  button {
    font-size: 16px;
    background-color: $action;
    border-radius: 4px;
    border: 0;
    width: 100%;
    color: #fff;
    padding: 11px;
    cursor: pointer;
  }
}

.item-description {
  padding: 32px;

  h2 {
    font-size: 28px;
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 0;
  }
}
