////
// Description: Reset CSS
// Author: Diego Ghersi (diego@ghersi.com.ar)
//

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@at-root {
    @-ms-viewport {
        width: device-width;
    }
}

body {
    background-color: $body-bg;
    color: $body-color;
    line-height: $line-height;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

[role="button"] {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    margin-top: 0;
}

p {
    margin-bottom: 1.5rem;
    margin-top: 0;
}

img {
    vertical-align: middle;
}

textarea,
input,
button {
    outline: none;
}

figure {
    margin: 0;
}
