// Description: Search
// Author: Diego Ghersi (diego@ghersi.com.ar)

.search {
  position: relative;
  overflow: visible;
  height: 54px;

  input {
    position: relative;
    font-size: $font-size + 4;
    width: 100%;
    top: 8px;
    height: 38px;
    padding: 3px 35px 3px 15px;
    border-radius: 3px;
    border: 0;
    background-color: #fff;
    transition: all .3s ease;

    &:focus {
      box-shadow: 0 0 0 1px lighten($action, 15%);
    }
  }

  button {
    position: absolute;
    top: 8px;
    right: 0px;
    width: 42px;
    height: 38px;
    border: 0;
    background-color: $gray-l1;
    border-radius: 0 3px 3px 0;

    span {
      display: none;
    }

    .search-icon {
      position: absolute;
      right: 12px;
      top: 10px;
      background-image: url(/public/images/ic_search.png);
      @include high-res-img("/public/images/ic_search@2x.png", 18px, 18px);
      height: 18px;
      width: 18px;
    }
  }
}
