////
// Description: Variables
// Author: Diego Ghersi (diego@ghersi.com.ar)
//

// colors
$brand: #ffe600 !default;
$gray-l3: #333333 !default;
$gray-l3: #666666 !default;
$gray-l2: #999999 !default;
$gray-l1: #eeeeee !default;
$action: #3483fa !default;

// body colors
$body-bg: $gray-l1 !default;
$body-color: $gray-l3 !default;

// font
$font-family: 'Proxima Nova', 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif !default;
$font-size: 13px;
$line-height: 1.6 !default;
$font-weight: 400 !default;
